<h1>Font Switcher Demo</h1>

<div [style.font-family]="selectedFont">
  <mat-form-field>
    <mat-select [(value)]="selectedFont" placeholder="Font Picker">
      <ng-container *ngFor="let font of selectableFonts">
        <mat-option id="{{font | transformToSelector}}" value="{{font}}">
          {{font | removeQuotationMarks}}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <h4>Explain HTTP please</h4>
  <p>Hypertext Transfer Protocol (HTTP) is an application-layer protocol for transmitting hypermedia documents, such as HTML. It was designed for communication between web browsers and web servers, but it can also be used for other purposes. HTTP follows a classical client-server model, with a client opening a connection to make a request, then waiting until it receives a response. HTTP is a stateless protocol, meaning that the server does not keep any data (state) between two requests. Though often based on a TCP/IP layer, it can be used on any reliable transport layer, that is, a protocol that doesn't lose messages silently like UDP does. RUDP — the reliable update of UDP — is a suitable alternative.</p>
</div>

