/* fonts */
#open {
  font-family: 'Open Sans', sans-serif;
}

#shar {
  font-family: 'Share', sans-serif;
}

#muli {
  font-family: 'Muli', sans-serif;
}

#mave {
  font-family: 'Maven Pro', sans-serif;
}

#zcoo {
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}

#comf {
  font-family: 'Comfortaa';
}

#pres {
  font-family: 'Press Start 2P', sans-serif;
}
