<!-- no canvas and position on mobile-->
<div fxFlex="10%"
     fxFlex.xs="100%"
     [ngStyle]="{ position: 'absolute', top: itemTop, left: itemLeft}"
     [ngStyle.xs]="{}"
     id="{{item.id}}"
>
  <!-- mobile with click -->
  <img src="../assets/icons/{{item.icon}}"
       alt="{{item.name}} icon"
       (click)="onClickIcon()"
       fxShow="false"
       fxShow.xs="true"
  />
  <!-- desktop without click -->
  <img src="../assets/icons/{{item.icon}}"
       alt="{{item.name}} icon"
       [ngClass]="{'blinking-state': itemFocussed}"
       fxShow="true"
       fxShow.xs="false"
  />
  <div>
    <span [ngClass]="{'glow-text': itemFocussed}">{{item.name}}</span>
  </div>
</div>
