<h1>reactive-forms-demo</h1>

<h4>single form control </h4>
<div>
  Text:
  <input type="text" [formControl]="textInputControl"> {{textInputControl.value}}
</div>

<h4>form group control</h4>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

  <h5>angular Validators</h5>

  <div formGroupName="angularGroup" class="group">
    <div>
      required input:
      <input type="text" formControlName="requiredInput" required>
    </div>
    <div>
      what-the-code custom serial number (example format NRKE:46351703-s1g2):
      <input type="text" formControlName="wtcSerialnumber">
    </div>
    <div>
      enter a number with one digit and two decimals:
      <input type="text" formControlName="numberInput">
    </div>
    <div>
      mail:
      <input type="email" formControlName="mailOnly">
    </div>
  </div>


  <h5>cross field validation</h5>

  <div>
    input field 1:
    <input type="text" formControlName="matchFieldOne">
  </div>
  <div>
    input has to match field 1:
    <input type="text" formControlName="matchFieldTwo">
  </div>
  <div *ngIf="formGroup.errors?.matchTwoFieldsValidatorError && (formGroup.touched || formGroup.dirty)" class="cross-field-validation-error">
    does not match field 1!
  </div>

  <h5>form arrays</h5>
  <div formArrayName="dynamicFields">
    enter cool fantasy/nick names <button (click)="addToDynamicFieldsArray()">+</button>
    <div *ngFor="let item of dynamicFieldsArray.controls; let i=index">
      name:
      <input type="text" formControlName="{{i}}"> <button (click)="removeFromDynamicFieldsArray(i)">-</button>
    </div>
  </div>

  <div formArrayName="dynamicGroup">
    enter your children <button (click)="addToDynamicGroupArray()">+</button>
    <div *ngFor="let item of dynamicGroupArray.controls; let i=index">
      <div formGroupName="{{i}}" class="group">
        <div>
          name:
          <input type="text" formControlName="name">
        </div>
        <div>
          age:
          <input type="number" formControlName="age">
        </div>
        <div>
          occupation:
          <input type="text" formControlName="occupation">
        </div>
      </div>
    </div>
  </div>

  <h5>custom synchron validation</h5>
  <div>
    enter a number with one digit and two decimals:
    <input type="text" formControlName="customValidatorInput">
  </div>

  <h5>custom async validation</h5>
  <div>
    name a starter pokemon:
    <input type="text" formControlName="asyncValidationInput">
  </div>


  <div>
    <button (click)="onTest()">Test</button>
  </div>
  <div>
    <button type="submit" [disabled]="!formGroup.valid">Submit</button>
  </div>
</form>

<!-- can be VALID, INVALID, PENDING (while asynchronous validation), DISABLED -->
<p>formGroup.status: {{formGroup?.status}}</p>
<p>formGroup.get('angularGroup').get('requiredInput').errors: {{formGroup?.get('angularGroup').get('requiredInput').errors |json}}</p>
<p>formGroup.get('angularGroup').get('wtcSerialnumber').errors: {{formGroup?.get('angularGroup').get('wtcSerialnumber').errors |json}}</p>
<p>formGroup.get('angularGroup').get('mailOnly').errors: {{formGroup?.get('angularGroup').get('mailOnly').errors | json}}</p>
<p>formGroup.get('asyncValidationInput').errors: {{formGroup?.get('asyncValidationInput').errors | json}}</p>

