.container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.items-list {
  min-height: 60px;
  overflow: hidden;
  display: block;
}

.item-box {
  margin: 5px;
  padding: 5px;
  border: solid 1px #ccc;
  border-radius: 4px;
  align-items: center;
  cursor: move;
  background: #ffbf28;
}

.type-name {
  text-align: center;
}
.item-name{
  text-align: center;
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.9);
  margin: 5px 0 0 0;
}
.item-description {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 0 5px 0;
}

.cdk-drag-placeholder {
  opacity: 0.1;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.trait-box:last-child {
  border: none;
}

.traits-list.cdk-drop-list-dragging .trait-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
